.background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
    scrollbar-width: none;

    min-width: 1600px;
    height: 100vh;
}

.rootContainer {
    width: 1600px;
    margin: 0 auto;
    padding: 60px 0;
}

.movieContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    gap: 60px;
    justify-content: center;
}
